back-end/node_modules/
back-end/.env
back-end/package-lock.json


front-end/node_modules/
front-end/.env
front-end/.env.local
front-end/build/
front-end/package-lock.json
front-end/.cache/
front-end/dist/
